*{
    padding: 0;
    margin: 0;
}
a {
 text-decoration: none;
 color: black;
}
/* CLASS*/
.body{
    background-image: url("./imagenes/fondo.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.head__nav__pag {
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    list-style: disc;
    color: rgb(0, 0, 0);
}
.redes {
    font-family:sans-serif;
    font-size: larger;
    list-style: disc;
    color: rgb(0, 0, 0)
}
.texto {
    font-family: Arial;
    font-size: x-large;
    text-align: center;
    color: black;
}
.head{
    background-color: rgba(74, 138, 197, 0.856);
    width: 100vw;
}
.head__nav__pag{
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    padding-left: 140px;
}
.head__nav__pag li{
    padding-left: 65px;
}
.logo{
    width: 200px;
    margin-top: 5px;
}
.body{
    background: linear-gradient(rgb(102, 102, 102),rgba(128, 128, 128, 0.616), rgba(128, 128, 128, 0));
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.main{
    font-family: sans-serif;
    text-align: center;
    list-style: none;
    
}
.mainServicios{
    font-family: arial;
    position: absolute;
    top: 25%;
    padding-left: 32%;
    text-align: center;
    list-style: none;
}
.main div{
    font-size: large;
    
}
.head{
    display: grid;
    grid-template-areas: 
    "contacto servicios inicio quienes enPagina";
    justify-content: center;
}
.contacto{
    padding-right: 60px;
}
.servicios{
    padding-right: 60px;
}
.inicio{
    padding-right: 20px;

}
.quienes{
    padding-right: 30px;
    padding-left: 10px;
}
.trabajos{
    padding-left: 10px;
}
.carrusel{
    margin: 40px;
    align-items: center;
}
.carrusel ul{
    display: flex;
    align-items: center;
    list-style: none;
}
.historia{
    padding-left: 22% ;
    padding-right: 22%;
    font-size: xx-large;
}
.texto{
    font-size: xx-large;
}
.padre{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 75px;
}
.padre div{
    text-align: center;
    font-style: italic;
    
}
.padre h1{
    color: #000000;
    
}
.padre h2{
    font-style: oblique;
    color: #000000;
    font-size: 40px;
    text-decoration: underline ;
}
.titulo{ 
    grid-area: 1 / 1 / 2 / 3; 
    padding-top: 50px;
}
.titulo h1{
    font-size: 50px;
}
.mail{ 
    grid-area: 2 / 1 / 3 / 2; 
}
.redes2{ 
    grid-area: 2 / 2 / 4 / 3; 
}
.numero{ 
    grid-area: 3 / 1 / 4 / 2; 
}
.ubicacion{ 
    grid-area: 3 / 2 / 4 / 3; 
    justify-content: center;
    align-items: center;
}
.ubicacion img{
    height: 100px;
}

.galeria{
    display: grid;
    grid-template-areas: 
    'tituloGaleria tituloGaleria tituloGaleria tituloGaleria tituloGaleria'
    'foto1 foto2 foto3 foto4 foto5'
    'foto6 foto7 foto8 foto9 foto10';
    grid-row-gap: 15px;
    grid-column-gap: 5px;
}
.galeria img{
    height: 320px;
    width: 320px;
    border: solid 1px;
}
.tituloGaleria{
    grid-area: tituloGaleria ;
    padding-top: 23px;
}
.foto1{
    grid-area: foto1;
}
.footer{
    width: 100vw;
    display: flex;
    justify-content:flex-end;
    position: absolute;
    bottom: 0;
    background-color: rgba(194, 6, 6, 0.842);
}
.footer li{
    padding:  20px;
    list-style: none;
    list-style: none;
    color: rgb(255, 255, 255);
}
.footer a{
    color: white;
}
.body{
    width: 100%;
    height: 100%;
    animation: pulse 7s ;
}
@keyframes pulse {
    0% {
      background-color: #000000;
    }
    100% {
      background-color: #cacaca;
    }
  }
@media (max-width: 768px){
    
    .padre{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap:50px;
        grid-row-gap: 50px;
    }
    .titulo{ 
        grid-area: 1 / 1 / 2 / 2; 
        border: solid;
    }
    .mail{ 
        grid-area: 2 / 1 / 3/ 2; 
        border: solid;
    }
    .redes2{ 
        grid-area: 3 / 1 / 4 / 2; 
        border: solid;
    }
    .numero{ 
        grid-area: 4 / 1 / 5 / 2; 
        border: solid;
    }
    .ubicacion{ 
        grid-area: 5 / 1 / 6 / 2; 
        justify-content: center;
        align-items: center;
        border: solid;
    }

}